# ===== Database config =====
# SQLAlchemy driver string:
# - mysql+pymysql
# - postgresql+psycopg2
DB_DRIVER=mysql+pymysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=documents
DB_USER=root
DB_PASSWORD=11111